
<nav class="navbar fixed-top navbar-expand-md main-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse spartakus">
        <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sobre">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#">Redes Sociais</a>
            </li>
        </ul>
    </div>
</nav>